
# Python Basics Assignment

**Name:** Rohan Solanki  
**Date:** 15 July 2025  
**Subject:** Python .

### 1. In the below elements which of them are values or an expression?

In [ ]:
| Element   | Classification | Reason                       |
| --------- | -------------- | ---------------------------- |
|   *       | Expression     | Multiplication operator      |
|  'hello'  | Value          | String literal               |
|  -87.8    | Value          | Float (negative number)      |
|   -       | Expression     | Subtraction (or unary minus) |
|   /       | Expression     | Division operator            |
|   +       | Expression     | Addition operator            |
|   6       | Value          | Integer                      |

In [ ]:
# Values: 'hello', -87.8, 6
# Expressions: *, -, /, +

# Example classification
elements = ['*', "'hello'", -87.8, '-', '/', '+', 6]
print("Values: 'hello', -87.8, 6")
print("Expressions: *, -, /, +")

### 2. What is the difference between string and variable?


- **String**: A string is a sequence of characters, written inside quotes and type of variable. Example: `'Hello'`
- **Variable**: A variable is a name used to store a value. Example: `greeting = 'Hello'`

In [1]:
#example
name = "rohan solanki"    #here name is a variable.
type(name)                #here rohan solanki is the string type value

str

### 3. Describe three different data types.


1. **int**: An integer is a whole number â€” it does not have a decimal point., e.g., `5`, `-2`
2. **float**: A float is a number that has a decimal point. , e.g., `3.14`, `-87.8`
3. **str**:A string is a collection of characters like letters, numbers, or symbols, enclosed in quotes (' ' or " ")., e.g., `'hello'`, `"Python"`

In [ ]:
#example
num1 = 26       #value 26 is int type value
num2 = 24.25    #value 24.25 is float type value
name = "rohan solanki"  #"rohan solanki" is a string

### 4. What is an expression made up of? What do all expressions do?


- An expression is made up of values and operators.
- All expressions evaluate to a single value.

### 5. What is the difference between an expression and a statement?


- **Expression**: Produces a value. Example: `2 + 3`
- **Statement**: Performs an action. Example: `spam = 10` is a statement.

In [ ]:
#example
x = 2 + 3       #2 + 3 is an expression because it returns 5.
spam = 10       #statement
if spam > 5
     print("spam is greater then 5")

### 6. After running the following code, what does the variable bacon contain?

In [ ]:
bacon = 22
bacon + 1  # This line does not change the value of bacon
print("Value of bacon:", bacon)  # Output will be 22

### 7. What should the values of the following two terms be?

In [ ]:
print("'spam' + 'spamspam' =", 'spam' + 'spamspam')  # spamspamspam
print("'spam' * 3 =", 'spam' * 3)  # spamspamspam

### 8. Why is 'eggs' a valid variable name while '100' is invalid?


- `eggs` is valid because variable names can start with a letter or underscore.
- `100` is invalid because variable names cannot start with a number.

In [ ]:
#example
num = 10 #num is valid variable.
1num = 2 # 1 num is not valid varible.

### 9. What three functions can be used to get the integer, floating-point number, or string version of a value?

In [2]:
# int(), float(), and str()
x = "42"
print(int(x))    # 42
print(float(x))  # 42.0
print(str(42))   # '42'

42
42.0
42

### 10. Why does this expression cause an error? How can you fix it?

In [ ]:
# 'I have eaten ' + 99 + ' burritos.'  # Causes error because 99 is int

# Fixed version:
print('I have eaten ' + str(99) + ' burritos.')